## Visual Studio / .NET Core
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.booproj
*.svclog

## Build output & archives
publish_api/
publish/
*.zip

## Temporary scripts & local staging
ui_staging/
*.log
*.tmp
